{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3">
<img src="static/img/9.jpg" class="d-block w-100 my-3" alt="...">
</div>
<div class="container py-0">

<h1 class="mbr-section-title mbr-fonts-style mbr-light display-4 text-center">About Me</h1>
    <h2 class="mbr-text mbr-fonts-style mbr-light display-20">Hi! I'm Prathamesh Gawde,I'm a mechanical engineer by profession. I live in Mumbai, Maharashtra. 
    Engineering and art is a rare combination, but a beautiful one nevertheless. Art, for me, is and has always been my happy place. It has always resided in my heart, but I never took it in a serious way until 2012, and since then, it has never looked back.
One of my friend suggested me to start making paid portraits for people. At first, it didn't work well, did not turn out to be the way I expected it to be, but then I made my Instagram art account, @prattz_artwork and surprisingly, it turned out to be great! People started recognizing my work, I was appreciated, I even started getting portrait commissions.
The journey of art, for me, has forever been adventurous but challenging at the same time. Being a self taught artist, not being under someone's guidance and figuring out the technicalities, little details, minor mistakes, all by myself, has been quite difficult, but thoroughly interesting.
With engineering by my side as my profession, I still don't let it overshadow my art. If not a professional artist, I still am an artist at heart and I'd always be. Art may not be something I earn my living with, but it will always be something that makes me live.</h2>
            </div>

{% endblock body %}